:root {
    --main-color: #EFD006;
    --dark_grey: #191d2b;
    --white: #fff;
    --black: #13131a;
    --bg: #010103;
    --marine: rgba(33, 41, 83, 0.6);
    --transparent: transparent;
    --gold: #C99E67;
    --dark-gold: #B58240;
    --yellow: #FFBA0A;
    --dark_yellow: #CF9500;
    --blue: #344183;
    --marine-clair: #262D45;
    --font-titre-partie: #A9814E;
    --fond-input: #F7F6F2;
    --beige: #FBF5EE;
    --grey: #7F7F7F;
}

html {
    scroll-behavior: smooth;    /* Transition douce vers les différentes parties */
}

body {
    margin: 0;  /* Aucune marges externes */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;    /* Taille de police */
    background-color: var(--bg);
    text-align: justify;
}


/* -------------------------------- Barre de navigation -------------------------------- */

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark_grey);
    padding: 12px;
    box-shadow: 5px 0 10px var(--black);
}

.navbar a {
    text-decoration: none;
    color: var(--white);
    transition: all 0.5s ease;  /* Ajout d'un effet de transition */
}

.navbar a:hover {
    color: var(--yellow);
}

.logo {
    margin-left: 15px;
}

.list {
    list-style: none;
    display: flex;
    gap: 5vw;
    margin-right: 3vw;
}

#toggler,
.navbar label {
    display: none;  /* Cacher l'élément */
    color: var(--white);
}

/* -------------------------------- Home section -------------------------------- */

#home {
    max-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#bgVideo {
    max-width: 100%;
    height: auto;
    z-index: 100;
}

.home_section {
    position: absolute;
    z-index: 200;
    max-width: 65rem;
    width: 50vw;
    color: var(--white);
    background-color: var(--transparent);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home_section .title_home_section {
    font-size: 3.5rem;
}

.home_section p {
    font-size: 1rem;
    text-align-last: center;
    padding-bottom: 40px;
}

.home_section a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--white);
    padding: 15px 35px;
    border-radius: 30px;
    background-color: var(--gold);
    cursor: pointer;
    transition: all 0.5s;
}

.home_section a:hover {
    background-color: var(--dark-gold);
}


/* -------------------------------- Cabinet section -------------------------------- */


#cabinet {
    height: fit-content;
    background-color: var(--beige);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
    padding: 50px 0;
}

.cabinet_text_section {
    height: fit-content;
    width: 45vw;
    background-color: var(--transparent);
}

.cabinet_text_section h1 {
    font-size: 2rem;
    color: var(--font-titre-partie);
    margin-bottom: 50px;
}

.cabinet_text_section h3 {
    font-size: 1.5rem;
}

.cabinet_text_section p {
    font-size: 1rem;
    padding: 0 0 20px 0;
}

.cabinet_image_section {
    height: fit-content;
    width: 30vw;
}

.image_photo_cabinet {
    height: auto;
    max-width: 100%;
}

/* -------------------------------- Demande & devis section -------------------------------- */

#demande_devis {
    height: fit-content;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: url(images/judge-gavel-and-law-books.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 60%;
}

.demande_devis_section {
    height: fit-content;
    width: 50%;
    padding: 50px 0 80px 12vw;
    color: var(--white);
    background-color: var(--marine);
}

.demande_devis_section h1 {
    font-size: 2rem;
    padding: 0 20px 0 0;
}

.demande_devis_section p {
    font-size: 1rem;
    padding: 0 50px 40px 0;
}

.demande_devis_section a {
    color: var(--white);
    text-decoration: none;
    background-color: var(--gold);
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 30px;
    transition: all 0.5s ease;
}

.demande_devis_section a:hover {
    color: var(--white);
    background-color: var(--dark-gold);
}


/* -------------------------------- Valeur section -------------------------------- */

#valeurs {
    height: fit-content;
    background-color: var(--beige);
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.titre_valeur_section {
    font-size: 1.3rem;
    color: var(--font-titre-partie);
}

#valeurs .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    flex-wrap: wrap;
}

.valeur_text_section {
    height: fit-content;
    width: 45vw;
    background-color: var(--transparent);
}

.valeur_text_section h1 {
    font-size: 1.5rem;
}

.valeur_text_section p {
    font-size: 1rem;
    padding: 0 0 20px 0;
}

.valeur_image_section {
    height: fit-content;
    width: 400px;
    background: url(/images/Lauburu.svg.png);
}

/* -------------------------------- Expertise section -------------------------------- */

#expertise {
    height: fit-content;
    background-color: var(--white);
    padding: 25px 0;
}

.titre_expertise_section {
    font-size: 1.3rem;
    color: var(--font-titre-partie);
    text-align: center;
    padding: 0 15vw;
    margin: 50px 0;
}

#expertise .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    padding: 0 2rem;
    text-align: center;
    gap: 1rem;
    margin-bottom: 30px;
}

#expertise .box-container .box {
    padding: 2rem 0;
    text-align: center;
    border-radius: 20px;
    transition: all 0.4s;

}

#expertise .box img {
    height: 7rem;
}

#expertise .box h3 {
    color: #000;
    font-size: 1.2rem;
    font-weight: lighter 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#expertise .box:hover {
    background-color: var(--yellow);
    transform: translateY(-10px);
}


/* -------------------------------- Rappel Contact Tel section -------------------------------- */

#rappel_contact_tel {
    height: fit-content;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: url(images/presentation_bayonne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 60%;
}

#rappel_contact_tel .rappel_contact_section {
    height: fit-content;
    width: 35%;
    padding: 50px 0 80px 12vw;
    color: var(--white);
    background-color: var(--marine);
}

#rappel_contact_tel .rappel_contact_section h1 {
    font-size: 2rem;
    padding: 0 60px 0 0;
}

#rappel_contact_tel .rappel_contact_section a {
    width: 145px;
    color: var(--white);
    text-decoration: none;
    background-color: var(--gold);
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 30px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
}

#rappel_contact_tel .rappel_contact_section a img {
    padding-right: 10px;
}

#rappel_contact_tel .rappel_contact_section a:hover {
    color: var(--white);
    background-color: var(--dark-gold);
}

/* -------------------------------- Contact section -------------------------------- */

#contact {
    height: fit-content;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.bloc_information {
    height: 42vw;
    width: 45%;
    background-color: var(--marine-clair);
    color: var(--white);
    font-size: 1.3rem;
}

.bloc_information .premiere_div {
    padding: 50px 0 0 80px;
}

.bloc_information .deuxieme_div {
    padding: 0 0 0 80px;
}

.bloc_information .troisieme_div {
    padding: 0 0 0 80px;
}

.bloc_information .premiere_div .num_tel {
    color: var(--yellow);
}

.bloc_information h1 {
    font-size: 2rem;
}

.bloc_information p {
    font-size: 1rem;
}

.divider {
    display: flex;
    justify-content: center;
    height: 1px;
    width: 33vw;
    background-color: rgba(204, 204, 204, 0.5);
    border-radius: 5px;
    margin: 40px 80px;
}

.bloc_formulaire {
    height: 42vw;
    width: 55%;
    background-color: var(--white);
    color: var(--black);
}

.bloc_formulaire .premier_bloc {
    padding: 50px 5vw 0 5vw;
}

.bloc_formulaire .deuxieme_bloc {
    display: flex;
    justify-content: center;
    column-gap: 2vw;
    padding: 30px 5vw 0 5vw;
}

.bloc_formulaire .troisieme_bloc {
    padding: 30px 5vw 0 5vw;
}

.bloc_formulaire .quatrieme_bloc {
    padding: 30px 5vw 0 5vw;
}

.bloc_formulaire .cinquieme_bloc {
    display: flex;
    justify-content: end;
    padding: 20px 5vw 0 5vw;
}

#nom_input,
#email_input,
#sujet_input,
#message_input {
    background-color: var(--fond-input);
    border: 2px solid var(--black);
    padding: 5px 6px;
}

#nom_input {
    width: 18vw;
}

#email_input {
    width: 24vw;
}

#sujet_input,
#message_input {
    width: 43.5vw;
}

#message_input {
    resize: none;
    height: 200px;
}

.cinquieme_bloc a {
    height: fit-content;
    width: fit-content;
    padding: 8px 20px;
    text-decoration: none;
    color: var(--white);
    background-color: var(--dark_yellow);

    transition: all 0.5s ease;
}

.cinquieme_bloc a:hover {
    box-shadow: 5px 5px 15px var(--black);
}


/* -------------------------------- Footer section -------------------------------- */

#pied {
    height: fit-content;
    width: auto;
    background-color: var(--dark_grey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#pied .droits {
    width: 100%;
    text-align: center;
    color: var(--white);
    padding: 2px 40px;
}

/* -------------------------------- Tablette device -------------------------------- */

@media screen and (max-width: 920px) {
    #home {
        max-height: 40vh;
    }

    #home .home_section {
        margin-bottom: 6vw;
        width: 84vw;
    }

    .valeur_text_section {
        height: fit-content;
        width: 30vw;
    }

    #demande_devis .demande_devis_section {
        width: max-content;
        text-align: justify;
        padding: 50px 8vw 80px 8vw;
    }

    .demande_devis_section h1 {
        font-size: 2rem;
        padding: 0 8vw;
    }

    .demande_devis_section p {
        font-size: 1rem;
        padding: 0 8vw 40px 8vw;
    }

    .demande_devis_section a {
        padding: 15px 30px;
        margin: 0 8vw;
    }

    #rappel_contact_tel .rappel_contact_section {
        width: max-content;
        text-align: initial;
        padding: 50px 14vw 80px 16vw;
    }

    .bloc_information {
        height: fit-content;
        width: 83.5vw;
        padding-right: 20vw;
        padding-bottom: 50px;
    }

    .bloc_formulaire {
        height: fit-content;
        width: 100vw;
        padding-bottom: 20px;
    }

    #nom_input {
        width: 40vw;
    }

    #email_input {
        width: 60vw;
    }

    #sujet_input {
        width: 88vw;
    }

    #message_input {
        width: 88vw;
    }

    .droits {
        height: fit-content;
        width: 375px;
    }
}

/* -------------------------------- Mobile device -------------------------------- */

@media screen and (max-width: 600px) {

    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar {
        z-index: 400;
        position: sticky;
        top: 0;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        padding-right: 15px;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }

    #home {
        max-height: 180vw;
    }

    #home .home_section {
        margin-bottom: 70px;
        width: 84vw;
    }

    .cabinet_text_section {
        height: fit-content;
        width: 84vw;
        background-color: var(--transparent);
        padding: 0 8vw;
    }

    .cabinet_image_section {
        height: fit-content;
        width: 84vw;
    }

    #demande_devis .demande_devis_section {
        width: max-content;
        text-align: justify;
        padding: 50px 8vw 80px 8vw;
    }

    .demande_devis_section h1 {
        font-size: 2rem;
        padding: 0 8vw;
    }

    .demande_devis_section p {
        font-size: 1rem;
        padding: 0 8vw 40px 8vw;
    }

    .demande_devis_section a {
        padding: 15px 30px;
        margin: 0 8vw;
    }

    #rappel_contact_tel .rappel_contact_section {
        width: max-content;
        text-align: initial;
        padding: 50px 14vw 80px 16vw;
    }

    .rappel_contact_section a {
        font-size: 0.8rem;
    }

    .valeur_text_section {
        height: fit-content;
        width: 84vw;
    }

    #expertise .box-container .box {
        width: 83.5vw;
    }

    #expertise .box img {
        height: 6rem;
    }

    .bloc_information {
        height: fit-content;
        width: 83.5vw;
        padding-right: 20vw;
        padding-bottom: 50px;
    }

    .bloc_information h1 {
        font-size: 1.6rem;
    }

    .bloc_formulaire {
        height: fit-content;
        width: 100vw;
        padding-bottom: 20px;
    }

    #nom_input {
        width: 27.5vw;
    }

    #email_input {
        width: 50vw;
    }

    #sujet_input {
        width: 83vw;
    }

    #message_input {
        width: 83vw;
    }

    .droits {
        height: fit-content;
        width: 375px;
    }
}