:root {
    --main-color: #EFD006;
    --dark_grey: #191d2b;
    --white: #fff;
    --black: #13131a;
    --bg: #010103;
    --marine: rgba(33, 41, 83, 0.8);
    --transparent: transparent;
    --border: .1rem solid rgba(255, 255, 255, .3);


    --gold: #C99E67;
    --dark-gold: #B58240;

    --font-titre-partie: #A9814E;
    --beige: #FBF5EE;
    --grey: #7F7F7F;


    --violet: rgba(255, 0, 255);
}

html {
    scroll-behavior: smooth;
    /* Transition douce vers les différentes parties */
}

body {
    margin: 0;
    /* Aucune marges externes */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    /* Taille de police */
    background-color: var(--bg);
}


/* -------------------------------- Barre de navigation -------------------------------- */

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark_grey);
    padding: 8px;
    z-index: 300;
    position: sticky;
    top: 0;
}

.navbar a {
    text-decoration: none;
    color: var(--white);

    transition: all 0.5s;
    /* Ajout d'un effet de transition */
}

.navbar a:hover {
    color: var(--gold);
}

.logo {
    margin-left: 15px;
}

.list {
    list-style: none;
    display: flex;
    gap: 5vw;
    margin-right: 3vw;
}

#toggler,
.navbar label {
    display: none;
    /* Cacher l'élément */
    color: var(--white);
}


@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        padding-right: 15px;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }
}

/* -------------------------------- Home section -------------------------------- */

#home {
    max-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

#bgVideo {
    max-width: 100%;
    height: auto;
    z-index: 100;
}

.home_section {
    position: absolute;

    z-index: 200;

    max-width: 65rem;
    width: 50vw;

    color: var(--white);
    background-color: var(--transparent);

    align-items: center;
    justify-content: center;
    text-align: center;
}

.home_section .title_home_section {
    font-size: 3.5rem;
}

.home_section p {
    font-size: 1rem;
    text-align-last: center;
    padding-bottom: 40px;
}

.home_section a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--white);
    padding: 15px 35px;
    border-radius: 30px;
    background-color: var(--gold);
    cursor: pointer;
}

.home_section a:hover {
    background-color: var(--dark-gold);
    transition: all 0.5s;
}


/* -------------------------------- Cabinet section -------------------------------- */


#cabinet {
    height: fit-content;
    background-color: var(--beige);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;

    padding: 50px 0;

}

.cabinet_text_section {
    height: fit-content;
    width: 50vw;
    background-color: var(--transparent);
}

.cabinet_text_section h1 {
    font-size: 2rem;
    color: var(--font-titre-partie);
}

.cabinet_text_section h3 {
    font-size: 1.5rem;
}

.cabinet_text_section p {
    font-size: 1rem;
    padding: 0 0 20px 0;
}


.cabinet_image_section {
    height: 50vh;
    width: 300px;
    background-color: var(--main-color);
}

/* -------------------------------- Demande & devis section -------------------------------- */

#demande_devis {
    height: fit-content;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background: url(/images/justice_droit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 60%;
}

.demande_devis_section {
    height: fit-content;
    width: 50%;
    padding: 50px 50px 80px 50px;
    color: var(--white);
}

.demande_devis_section h1 {
    font-size: 2rem;
}

.demande_devis_section p {
    font-size: 1rem;
    padding: 0 0 40px 0;
}

.demande_devis_section a {
    color: var(--black);
    text-decoration: none;
    background-color: var(--white);
    padding: 15px 30px;
    border-radius: 30px;
}

.demande_devis_section a:hover {
    color: var(--white);
    background-color: var(--grey);
    transition: all 0.5s;
}


/* -------------------------------- Valeur section -------------------------------- */

#valeurs {
    height: fit-content;
    background-color: var(--beige);
    padding: 50px 0;
}

.titre_valeur_section {
    font-size: 1rem;
    color: var(--font-titre-partie);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-left: 13.5vw;
}

#valeurs .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    flex-wrap: wrap;
}

.valeur_text_section {
    height: fit-content;
    width: 45vw;
    background-color: var(--transparent);
}

.valeur_text_section h1 {
    font-size: 1.5rem;
}

.valeur_text_section p {
    font-size: 1rem;
    padding: 0 0 20px 0;
}

.valeur_image_section {
    height: fit-content;
    width: 250px;
    background: url(/images/Lauburu.svg.png);
}

/* -------------------------------- Expertise section -------------------------------- */

#expertise {
    height: 52vw;
    width: auto;
    background-color: red;
}

/* -------------------------------- Honoraire section -------------------------------- */

#honoraire {
    height: 48vw;
    width: auto;
    background-color: green;
}

/* -------------------------------- Avis section -------------------------------- */

#avis {
    height: 28vw;
    width: auto;
    background-color: brown;
}

/* -------------------------------- Contact section -------------------------------- */

#contact {
    height: 48vw;
    width: auto;
    background-color: orange;
}