html {
    scroll-behavior: smooth;    /* Transition douce vers les différentes parties */
}

body {
    margin: 0;  /* Aucune marges externes */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;               /* Taille de police */
}

/* -------------------------------- Barre de navigation -------------------------------- */

.liste_nav_menu {
    display: flex; /* Transformation en flexbox */
    padding: 0; /* Suppression des marges en internes */
    margin: 0;  /* Suppression des marges en externes */
    height: 4vw;
    width: auto;    /* Prend toute la largeur de l'écran */
    background-color: #191d2b; /* Ajout de la couleur d'arrière-plan */
    justify-content: center;     /* Alignements horizontaux des liens dans le menu */
    align-items: center;    /* Alignements verticaux des liens dans le menu */
    position: sticky;   /* Fixation du menu lors du scroll */
    top: 0;
    z-index: 100;   /* Reste au dessus des autres éléments */

}

.liste_nav_menu li {
    list-style-type: none; /* Suppression des puces */
}

.liste_nav_menu img {
    position: relative;     /* Décalage de l'image à gauche */
    right: 38vw;
}

.liste_nav_menu a {
    display: block; /* Transformation en block */
    min-width: 8vw;    /* Largeur minimale des liens */
    position: relative;     /* Décalage des éléments à droite */
    left: 20vw;

    margin: 0.8rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: transparent;    /* Couleur d'arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    

    transition: all 0.5s; /* Ajout d'un effet de transition */
}

.liste_nav_menu a:hover {
    color: #EFD006;
}

/* -------------------------------- Home section -------------------------------- */

#home {
    height: 44vw;
    width: auto;
    background-color: #212953;
    overflow: hidden;   /* Cacher les éléments qui dépassent */
}

.bloc_gauche {
    width: 40vw;
    height: 10vw;
    /* background-color: beige; */
    position: relative;
    top: 10vw;
    left: 12vw;
}


.bloc_gauche h1, h3 {
    color: #fff;
}

.bloc_gauche h1 {
    font-size: 5vw;
}

.bloc_gauche h3 {
    font-size: 2vw;
    position: relative;
    bottom: 3vw;
}

.bloc_droit {
    width: 80vw;
    height: 80vw;
    background-color: beige;
    transform: rotate(-65deg);
    position: relative;
    bottom: 25vw;
    left: 45vw;
    overflow: hidden;
}

.bloc_droit img {
    transform: rotate(65deg);
}

/* -------------------------------- Cabinet section -------------------------------- */

#cabinet {
    height: 48vw;
    width: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.cabinet_gauche {
    background-color: #fff;
    height: fit-content;
    text-align: justify;
    margin: 2vw 4vw;
    flex: 1 1;
}

.cabinet_gauche h1 {
    font-size: 3vw;
    width: 15vw;
    height: fit-content;
    background-color: #EFD006;
    margin: 0vw 0vw 5vw 0vw;    /* marges externes (haut/droite/bas/gauche) */
}

.cabinet_gauche span {
    color: #EFD006;
    font-weight: 900;
}

.cabinet_droit {
    flex: 1 1;
}

.cabinet_droit img {
    height: 80%;
    width: 80%;
}

/* -------------- Details cabinet section -------------- */

#details_cabinet_container {
    width: 100%;
    height: 18vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vw;
}

#left_details_cabinet {
    float: left;
    width: 30%;
    height: 15vw;
    background-color: aqua;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#center_details_cabinet {
    float: left;
    width: 30%;
    height: 15vw;
    background-color: green;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#right_details_cabinet {
    float: left;
    width: 30%;
    height: 15vw;
    background-color: #212953;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* -------------------------------- Expertise section -------------------------------- */

#expertise {
    height: 52vw;
    width: auto;
    background-color: red;
}

/* -------------------------------- Honoraire section -------------------------------- */

#honoraire {
    height: 48vw;
    width: auto;
    background-color: green;
}

/* -------------------------------- Avis section -------------------------------- */

#avis {
    height: 28vw;
    width: auto;
    background-color: brown;
}

/* -------------------------------- Contact section -------------------------------- */

#contact {
    height: 48vw;
    width: auto;
    background-color: orange;
}